h1 {
    text-align: right;
    color:darkblue;
    size: 30px;

}

#h2 {
    background-color: lightskyblue;
    color:darkblue;
    size: 24px;
}

ul{
    color:darkblue;
}

#dt {
    color: darkblue;
}
h2 {
    color: darkblue;
}